%p#notice= notice

%p
  %b Name:
  = @club.name
%p
  %b Foundation date:
  = @club.foundation_date
%p
  %b Tittles:
  = @club.tittles
%p
  %b League:
  = @club.league

= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'Back', clubs_path
