-# frozen_string_literal: true
= simple_form_for(@confederation) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :members
    = f.input :continental_tournament
    = f.input :description
    = f.input :foundation_date
    = f.association :football_organization

  .form-actions
    = f.button :submit
